* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: #f4f4f4;
}
.container {
    max-width: 700px;
    margin: 20px auto;
}
.heading {
    text-align: center;
    font-size: 28px;
    padding: 20px;
    margin-bottom: 20px;
}
.accordin-wrapper {
    padding: 0px  20px;
}
.accordion {
    margin-bottom: 20px;
    cursor: pointer;
}
.accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:  10px;
    background-color: #fff;
 border:  2px solid rgb(70, 7, 7);
 padding: 15px 20px;
}
h3 {
    font-size: 22px;
}
.accordion-content {
    display: none;
    padding: 15px 25px;
    border: 2px solid green;
    font-size: 15px;

}

.container .accordion.active .accordion-heading {
    background-color:  blue;
    color: darkgray;
}
.container .accordion.active .accordion-heading i {
    color: #fff;
    transform:  rotate(180deg);
}

.container .accordion.active .accordion-content {
    display: block;
}