* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 30px;
    color: brown;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.underline {
    width: 100px;
    height: 7px;
    border-radius: 5px;
    background-color: rgb(62, 88, 192);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
}
.review_container {
    width: 370px;
    height: 420px;
    /* background-color: chartreuse; */
    margin: 0 auto;
    border: 2px solid rgb(216, 191, 191);
    border-radius: 5px;
}
img {
    margin-top: 30px;
    border-radius: 70px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#left {
    margin-left: 25px;
    margin-right: 5px;
}
.btn {
    width: 30px;
    border: none;
    font-size: large;
    cursor: pointer;
}
.btn:hover {
    background-color: burlywood;
}
.names {
    margin-top: 14px;
    color: blueviolet;
}
h3 {
    margin-top: 5px;
    color: brown;
}
p {
    margin-top: 8px;
    padding: 0px 10px;
    text-align: center;
}
.random {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    cursor: pointer;
    padding: 10px 17px;
    background-color: rgb(127, 127, 214);
    color: white;
    border-radius: 50px;
}
.random:hover {
    background-color: rgb(21, 1, 1);
    color: rgb(252, 247, 247);
}
.buttons {
    margin-top: 20px;
}
