* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    height: 60px;
    background-color: rgb(227, 61, 61);
}
h2 {
    text-align: center;
    padding: 15px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 700;
}
.container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    border: 1px solid grey;
    padding: 15px 50px;
    padding-right: 110px;
    background-color: aqua;
    border-radius: 4px;
}
#btn {
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: aqua;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

